@model IEnumerable<DungeonsAndDragonsMonsterManualCSharp.Models.MonsterSense>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SenseRange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sense)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SenseRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monster.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sense.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
